[run]
source = custom_components/comelit_man
omit =
    tests/*
    */test_*.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if TYPE_CHECKING:
    raise NotImplementedError
    \.\.\.

[paths]
source =
    custom_components/comelit_man
